---
import Layout from "../layouts/Layout.astro";
---

<Layout title="complete">
  <main
    class="flex flex-col items-center w-full justify-center h-[80vh]"
    id="main"
  >
    <div class="flex flex-col justify-evenly items-center h-80">
      <div class="flex flex-col gap-3 items-center">
        <h1 class="text-6xl tracking-tighter font-bold">Done!</h1>

        <span>You will receive an email when your submission has been processed</span>
      </div>
      <div
        class="flex flex-col w-48 h-32 rounded-md justify-center items-center gap-3 border shadow-md bg-headerbg"
      >
        <a href="/dashboard" class="btn w-[80%]">New Setup</a>
        <form action="/api/auth/signout" class="flex justify-center w-full">
          <button type="submit" class="btn w-[80%]">Log Out</button>
        </form>
      </div>
    </div>
  </main>
</Layout>
