---
import Layout from "../layouts/Layout.astro";

let columns: number = 1;
let setupData;

if (Astro.request.method === "POST") {
  try {
    setupData = await Astro.request.formData();
    columns = Number(setupData.get("columns"));
    console.log(setupData)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="complete">
  <main
    class="flex flex-col w-[89.5%] h-[98%] bg-white mt-2 rounded-md border justify-center items-center gap-8 tracking-tighter" id="main"
  >
        <h1 class="text-5xl tracking-tighter font-bold">Done!</h1>
        <span class="text-base">You will receive an email when your submission has been processed</span>
  </main>
</Layout>
