---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Contact">

    <main
    class="flex w-[90%] h-[98%] bg-white mt-2 rounded-md border tracking-tight justify-center items-center"
    id="main"
  >
contact - under construction
</main>
</Layout>