---
import Layout from "../layouts/Layout.astro"
---

<Layout title="FAQs">
    <main
    class="flex w-[90%] h-[98%] bg-white mt-2 rounded-md border tracking-tight justify-center items-center"
    id="main"
  >
faq - under construction
</main>
</Layout>