---
import Header from "../components/Header.astro";
import "../global.css";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
    ></script>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body
    x-data="{ switchOn: $persist(false) }"
    :class="{ 'dark': switchOn }"
    class="min-h-[100vh]"
  >

    <Header />
    <div x-data="{ open: false }">
      <button x-on:click="open = ! open">Toggle Dropdown</button>
   
      <div x-show="open">
          Dropdown Contents...
      </div>
  </div>

  </body>
</html>
