---
export const partial = true;
---

<div class="flex flex-col w-full items-center gap-4">
  <h1>Vendor Register</h1>
  <div class="flex flex-col w-full items-center gap-2">
    <form
      action="/api/auth/register"
      method="post"
      class="flex justify-evenly w-72 h-auto p-4 border rounded-md flex-col relative shadow-lg gap-2"
    >
      <label for="magic-code">Magic Code</label>
      <input
        type="text"
        name="magic-code"
        id="magic-code"
        class="w-full py-2 px-4 pr-8 rounded-md border bg-gray-50 text-secondary"
        required
      />
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class=" w-full py-2 px-4 pr-8 rounded-md border bg-gray-50 text-secondary"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="w-full py-2 px-4 pr-8 rounded-md border bg-gray-50 text-secondary"
        required
      />
      <button type="submit" class="btn">Register</button>
    </form>
    <span class="text-xs w-full text-center"
      >Already have an account? <span
        hx-get="/login"
        hx-swap="innerHTML transition:true"
        hx-target="#main"
        class="cursor-pointer"><u>Log in</u></span
      ></span
    >
  </div>
</div>
