---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SetupColumn from "../components/SetupColumn.astro";
import { headers, inputs } from "../data/setup";
import Spacer from "../components/Spacer.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

let columns = Number(Astro.url.searchParams.get("numOfSKUs") || 1);

if (columns > 50) {
  columns = 50;
}
---

<Layout>
  <nav
    class="flex h-12 w-full border-b items-center px-2 justify-between fixed top-20 bg-background z-50"
  >
    <div class="flex gap-2">
      <button class="btn h-8 text-xs">Add Column</button>
      <button class="btn h-8 text-xs">Import Excel</button>
    </div>
    <button class="btn h-8 text-xs" type="submit" form="setupForm">Submit</button>
  </nav>
  <Spacer height={12} />
  <div class="flex w-[8150px]">
    <Sidebar obj={headers} />

    <SetupColumn obj={inputs} columns={columns} formName="setupForm"/>
  </div>
</Layout>
