---
import Select from "../../components/ui/Select.astro"
import {d} from "../../data/hierarchy"
export const partial = true;
---


    <form
      action="/setup"
      method="post"
      class="flex justify-evenly w-72 h-auto p-4 border rounded-md flex-col relative shadow-lg gap-2"
      x-data="{selection: ''}"
    >
      <label for="product-category">Product Category</label>
        <input type="text" x-show="none" name="product-category" id="product-category" value="selection">
        <Select array={d} required></Select>
        
      <label for="numOfSKUs">Number of SKUs</label>
        <input name="numOfSKUs" id="numOfSKUs" type="number" class="bg-background border rounded-lg h-10 px-2 shadow-md" required/>
      <button type="submit">Submit</button>
    </form>
