---

---

<div
  class="w-48 h-screen bg-neutral-100 flex flex-col items-center pt-1 cursor-pointer"
>
  <div
    hx-get="/"
    hx-target="body"
    hx-swap="outerHTML transition:true"
    hx-push-url="true"
  >
    <img src="/bby-logo.png" alt="" class="w-[50px]" />
  </div>

  <div class="flex flex-col gap-3 justify-between h-full py-4 w-[90%]">
    <!-- <NavLink link="/" icon={<CiImport color="teal" />} title="Import" /> -->
    <div class="flex flex-col justify-between h-full">
      <div class="flex flex-col gap-2 ">
        <button
        class="flex border bg-white rounded-md justify-between items-center hover:bg-gray-200 text-sm p-2 gap-2"
        hx-get="/api/setup-config"
        hx-swap="innerHTML transition:true"
        hx-target="#main"
        >Contact Us
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="25" fill="teal"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"></path></svg>
      </button>
        <button
        class="flex border bg-white rounded-md justify-between items-center hover:bg-gray-200 text-sm p-2 gap-2"
        hx-get="/api/setup-config"
        hx-swap="innerHTML transition:true"
        hx-target="#main"
        >FAQs
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="25"  fill="teal"><path d="M12 19C12.8284 19 13.5 19.6716 13.5 20.5C13.5 21.3284 12.8284 22 12 22C11.1716 22 10.5 21.3284 10.5 20.5C10.5 19.6716 11.1716 19 12 19ZM12 2C15.3137 2 18 4.68629 18 8C18 10.1646 17.2474 11.2907 15.3259 12.9231C13.3986 14.5604 13 15.2969 13 17H11C11 14.526 11.787 13.3052 14.031 11.3989C15.5479 10.1102 16 9.43374 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8V9H6V8C6 4.68629 8.68629 2 12 2Z"></path></svg>
      </button>
        <button
          class="flex border bg-white rounded-md justify-center items-center hover:bg-gray-200 text-sm p-2 gap-2"
          hx-get="/api/setup-config"
          hx-swap="innerHTML transition:true"
          hx-target="#main"
          >Upload MSDS 
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="15"
            height="25"
            fill="teal"
            ><path
              d="M21 3H3C2.44772 3 2 3.44772 2 4V20C2 20.5523 2.44772 21 3 21H21C21.5523 21 22 20.5523 22 20V4C22 3.44772 21.5523 3 21 3ZM12 16C10.3431 16 9 14.6569 9 13H4V5H20V13H15C15 14.6569 13.6569 16 12 16ZM16 9H13V6H11V9H8L12 13.5L16 9Z"
            ></path></svg
          ></button
        >

      </div>
      <!-- <NavLink
          link="/contact/"
          icon={<CiMail color="teal" />}
          title="Contact"
        />
        <NavLink link="/faq/" icon={<IoHelp color="teal" />} title="FAQs" /> -->
        <button 
        id="submitComplianceForm" 
        type="button" 
        class="bg-black text-white rounded-md p-1 hover:opacity-80"
      >
        Next
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const submitButton = document.getElementById('submitComplianceForm');
    submitButton?.addEventListener('click', function() {
      const event = new Event('submitComplianceForm');
      document.dispatchEvent(event);
    });
  });
</script>