---
import Switch from "./ui/Switch.astro";
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let signedIn = false;

if (accessToken && refreshToken) {
  signedIn = true;
}
---

<header class="w-full antialiased bg-headerbg shadow-sm fixed z-50">
  <nav class="flex z-50 h-20 justify-evenly" x-data="{ showMenu: false }">
    <div class="flex h-full items-center justify-center w-[33%]">
      <img src="bby-logo.png" class="w-[50px]" />
    </div>
    <h1 class="flex h-full items-center justify-center w-[33%] font-medium text-white">
      BestBuy SKU Setup Portal
    </h1>
    <div class="flex w-[33%] items-center justify-evenly ">
      <Switch />
      {
        signedIn ? (
          <form action="/api/auth/signout">
            <button type="submit" class="bg-white px-2 py-1 rounded-md text-black">Log Out</button>
          </form>
        ) :
        (
        <button class="bg-white px-2 py-1 rounded-md text-black" hx-get="/login" hx-swap="innerHTML transition:true" hx-target="#main">Log In</button>
        )
      }
    </div>
  </nav>
</header>
