---
import Switch from "./ui/Switch.astro";
---

<header class="w-full antialiased bg-headerbg shadow-sm">
  <nav class="flex z-50 h-20 justify-evenly" x-data="{ showMenu: false }">
    <div class="flex h-full items-center justify-center w-[33%]"><img src="bby-logo.png" class="w-[50px]"></div>
    <h1 class="flex h-full items-center justify-center w-[33%] font-medium">BestBuy SKU Setup Portal</h1>
    <Switch />
  </nav>
</header>
