---
import SignInForm from "../components/SignInForm.astro"
import Command from "./ui/Command.astro"
import Select from "./ui/Select.astro"
---

<main class="flex flex-col items-center w-full justify-center">
    <SignInForm />

    
</main>