---
import Button from "./ui/Button.astro";
import vendors from "../data/vendors";
import Select from "./ui/Select.astro";
---

<div class="flex flex-col gap-4">
  <h2>Vendor Sign In</h2>
  <form
    action=""
    class="flex justify-evenly w-72 h-72 p-4 border rounded-md flex-col relative shadow-lg gap-2"
    x-data="{ searchResultsVisible: false }"
  >
    <label for="vendor">Vendor</label>

    <Select name="vendorSelect" id="vendorSelect">
      {vendors.map((vendor, index) => (
        <option value={Object.keys(vendor)[0]}>
          {Object.keys(vendor)[0]}
        </option>
      ))}
    </Select>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="bg-headerbg w-full py-2 px-4 pr-8 rounded-md"
      required
    />
    <Button type="submit" text="Submit" />
  </form>
  <span class="text-xs w-full text-center"
    >Not seeing your company? <a href="/register"><u>Register</u></a></span
  >
</div>
