---

---

<div class="flex flex-col gap-2">
  <h2>Vendor Sign In</h2>
  <form
    action=""
    class="flex justify-evenly w-72 h-60 p-4 border rounded-md flex-col relative"
    x-data="{ searchResultsVisible: false }"
  >
    <label for="vendor">Vendor</label>
    <input
      type="search"
      name="vendorSearch"
      class="bg-headerbg w-full p-3 rounded-md"
      placeholder="search"
      hx-get="/api/search"
      hx-target="#search-results"
      hx-trigger="keyup changed delay:200ms"
      autocomplete="false"
      @keydown.window="searchResultsVisible = true"
      @blur="searchResultsVisible = false"
    />
    <div
      id="search-results"
      x-show="searchResultsVisible"
      class="mt-3 p3 rounded-md absolute bg-headerbg top-[110px] w-[88%] p-3"
    >
    </div>
    <label for="vendor">Password</label>
    <input type="password" class="bg-headerbg w-full p-3 rounded-md" />
  </form>
  <span class="text-xs w-full text-center">Not seeing your company? <a href="/register"><u>Register here</u></a></span>
</div>
