@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 254, 254);
    --header-background: rgb(227, 227, 227);
    --foreground: 222.2 84% 4.9%;

    --spinner: #000000;

    --btn-bg: black;
    --btn-txt: white;

    --list-hover: rgb(241, 241, 241);

    --table: 210 40% 96.1%;

    --card: rgb(232, 232, 232);
    --card-foreground: rgb(0, 0, 0);

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: white;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: rgba(160, 159, 159, 0.316);
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --accent: 96, 58, 234;
    --accent-light: 53, 243, 208;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  .dark {
    --background: rgb(5, 14, 26);
    --header-background: rgb(26, 38, 56);
    --foreground: 210 40% 98%;

    --btn-bg: white;
    --btn-txt: black;

    --spinner: #ffffff;

    --list-hover: rgb(128, 128, 128);

    --table: 222.2 84% 4.9%;

    --card: rgb(232, 232, 232);
    --card-foreground: rgb(0, 0, 0);

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: black;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent-foreground: 222.2 84% 4.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: rgba(111, 111, 111, 0.176);
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --accent: 136, 58, 234;
    --accent-light: 53, 243, 208;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-family: "Inter", system-ui, sans-serif;
}

h1 {
  line-height: 1;
  text-align: center;
}

button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
  color: var(--btn-txt);
  padding: 0.5rem;
  border-radius: calc(var(--radius) - 2px);
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

#transition {
  transition: all 1s ease-in;
}

.dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.spinner {
  fill: var(--spinner)
}

.btn[disabled] {
  opacity: 0.5; /* Reduce opacity for a greyed-out effect */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}