---
import AssetsNavbar from "../components/assetsNavbar.astro";
import ComplianceNavbar from "../components/ComplianceNavbar.astro";
import Navbar from "../components/Navbar.astro";
import SetupNavbar from "../components/SetupNavbar.astro";

import "../global.css";

const { title } = Astro.props;
const isSetupPage = Astro.url.pathname === "/setup";
const isCompliancePage = Astro.url.pathname === "/compliance";
const isAssetsPage = Astro.url.pathname === "/assets";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex bg-neutral-100 h-screen" id="body">

    {(() => {
      if (isSetupPage) return <SetupNavbar />;
      if (isCompliancePage) return <ComplianceNavbar />;
      if (isAssetsPage) return <AssetsNavbar />;
      return <Navbar />;
    })()}
    <slot />

  </body>
</html>
