---
const { name, id, array } = Astro.props;
---

<div x-data="{ isOpen: false }"> 
    <div 
        class="flex items-center px-2 w-full rounded-md h-10 bg-background shadow-md border cursor-pointer"
        x-text="selection"
        x-on:click="isOpen = !isOpen"
    ></div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-gray-400 absolute top-[3.65rem] right-[1.7rem]"><path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd"></path></svg>
    <ul 
        class="border absolute flex flex-col w-[15.9rem] rounded-lg h-60 bg-background top-[5.6rem] overflow-auto scroll-auto"
        x-show="isOpen"
    >
        {array.map((item: any) => (
            <li 
                class="flex w-full items-center px-2 py-1 text-primary hover:bg-list-hover hover:text-primary cursor-pointer"
                x-on:click={`selection = '${item}'; isOpen = false`}
                
            >{item}</li>
        ))}
    </ul>
</div>
