---

---
<div
  x-data="{ switchOn: $persist(false) }"
  class="flex items-center justify-center space-x-6 "
>
  <input
    id="thisId"
    type="checkbox"
    name="switch"
    class="hidden"
    :checked="switchOn"
  />

  <button
    x-ref="switchButton"
    type="button"
    @click="switchOn = !switchOn; document.body.classList.toggle('dark', switchOn)"
    :class="switchOn ? 'bg-gray-700' : 'bg-neutral-300'"
    class="inline-flex h-6 py-0.5 ml-4 focus:outline-none rounded-full w-10"
    x-cloak
  >
    <span
      :class="switchOn ? 'translate-x-[18px]' : 'translate-x-0.5'"
      class="w-5 h-5 duration-200 ease-in-out bg-white rounded-full shadow-md"
    ></span>
  </button>

  <div class="relative h-20">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke="white"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class=`lucide lucide-moon absolute top-[29.5px] right-0`
      x-show="!switchOn"
      x-transition:enter.duration.2000ms
      
      x-cloak
    >
      <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-sun absolute top-[29.5px] right-0"
      x-show="switchOn"
      x-transition:enter.duration.2000ms
      
      x-cloak
    >
      <>
        <circle cx="12" cy="12" r="4"></circle>
        <path d="M12 2v2"></path>
        <path d="M12 20v2"></path>
        <path d="m4.93 4.93 1.41 1.41"></path>
        <path d="m17.66 17.66 1.41 1.41"></path>
        <path d="M2 12h2"></path>
        <path d="M20 12h2"></path>
        <path d="m6.34 17.66-1.41 1.41"></path>
        <path d="m19.07 4.93-1.41 1.41"></path>
      </>
    </svg>
  </div>
</div>

